<section class="section">
    <div class="section__content">
        <form class="form form--centered" method="get">
            <div class="field-group field-group--horizontal">
                <div class="field">
                    <input id="filter" name="filter" type="text" value="@Model.Filter" placeholder="@T["Enter search term..."]" class="form-control">
                </div>

                <div class="field">
                    <button type="submit" class="btn btn--primary">@T["Search"]</button>
                </div>
            </div>
        </form>
    </div>
</section>